openai
pyttsx3
SpeechRecognition
pyaudio
pyautogui
opencv-python
psutil
requests
pillow
pywinauto
selenium
webdriver-manager
keyboard
mouse
pyperclip
pycaw
comtypes
screen-brightness-control
numpy
flask
face-recognition
openai
groq
pytesseract